html, body, #root, #map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.toggle {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  background: #fff;
  z-index: 2;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 4px;
  /* user-select: none; */
}